<ion-content>
    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button (click)="back()" routerDirection="backward" color="dark" translucent="true">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="newsBox">
        <div class="backdrop">
            <div class="newsContainer">
                <div class="newsTitle">
                    {{chapter.SureAdi}} Sûresi
                </div>
                <div class="newsDesc">
                    {{chapter.Aciklama}}
                </div>
                <ol>
                    <li *ngFor="let ayet of chapter.Ayetler">{{ayet}}</li>
                </ol>
            </div>
        </div>
    </div>
</ion-content>