.newsBox {
    width: 100%;
    height: 100%;
    background-color: papayawhip;
}

.backdrop {
    width: 100%;
    height: 100%;
}



.newsContainer {
    position: absolute;
    top: 50px;
    padding: 30px;
    background-color: papayawhip;
}

.newsTitle {
    color: black;
    line-height: 27px;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
}

.newsDesc {
    color: black;
    padding-top: 10px;
    line-height: 17px;
    font-size: 15px;
}

.continueButton {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}