<ion-content>
    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-menu-toggle>
            <ion-fab-button color="dark" translucent="true">
                <ion-icon name="menu"></ion-icon>
            </ion-fab-button>
        </ion-menu-toggle>
    </ion-fab>
    <div class="imageDiv">
        <img [src]="'assets/imgs/' + page.image +'.jpg'">
    </div>
    <div class="heading" text-uppercase>
        .{{page.title}}
    </div>
    <div class="three" [style.backgroundColor]="page.color">
    </div>
    <div style="position: absolute;
    margin-top: -35px;right:5px;z-index:100">
            <select style="border:1px solid lightgray;padding:5px;width:170px;z-index:1000">
                    <option value="1">Kitap Sırası</option>
                    <option value="2">Sûre İniş Sırası</option>
                    <option value="3">Ayet İniş Sırası</option>
                </select>
    </div>
    <div style="position: absolute;
    margin-top: -55px;
    padding: 5px 20px; width:100%;">
    
        <h2 *ngIf="page.image == 'kuran'" style="font-weight: bold">Sûreler</h2>
        <h2 *ngIf="page.image != 'kuran'" style="font-weight: bold">Bölümler</h2>
        
    </div>
    <div *ngIf="chapterList.length > 0" class="overlayDiv">
           
    </div>
    
    <div *ngIf="chapterList.length > 0" class="bg-transparent">
        
        <div *ngFor="let chapter of chapterList" mode="ios" (click)="openChapter(chapter)" stylw="float:left;" class="newsBlock">
            <div class="newsTitle">
                    {{chapter.SiraNo}} {{chapter.SureAdi}}
            </div>
        </div>
    </div>
    <!--         <div *ngIf="newsList.length > 0" class="bg-transparent">
            <h2 class="ion-padding-horizontal">.NEWS</h2>
            <div *ngFor="let news of newsList" mode="ios" (click)="openNews(news)" [style.display]="news.urlToImage ? 'inherit' : 'none'" class="newsBlock">
                <div class="blockImage">
                    <img class="blockimg" [src]="news.urlToImage">
                </div>
                <div class="newsTitle">
                    {{news.title}}
                </div>
                <div class="date">
                    {{news.publishedAt | date:' dd MMM, yyyy'}}
                </div>
            </div>
        </div> -->
    <!--     <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-menu-toggle>
            <ion-fab-button color="dark" translucent="true">
                <ion-icon name="menu"></ion-icon>
            </ion-fab-button>
        </ion-menu-toggle>
    </ion-fab>
    <div class="parent">
        <div class="one">
        </div>
        <div class="three" [style.backgroundColor]="page.color">
            <div class="heading" text-uppercase>
                .{{page.title}}
            </div>
        </div>
        <div class="two">
        </div>
        <div style="position: absolute;bottom:0;height: 70%;padding: 15px 20px;">
            <span class="dateBox">{{date | date:'MMMM dd'}}</span><br>
            <span class="dayBox">{{daysInWeek[day]}}</span>
        </div>
        <div *ngIf="newsList.length > 0" class="bg-transparent">
            <h2 class="ion-padding-horizontal">.NEWS</h2>
            <div *ngFor="let news of newsList" (click)="openNews(news)" [style.display]="news.urlToImage ? 'inherit' : 'none'" class="newsBlock">
                <div class="blockImage">
                    <img class="blockimg" [src]="news.urlToImage">
                </div>
                <div class="newsTitle">
                    {{news.title}}
                </div>
                <div class="date">
                    {{news.publishedAt | date:' dd MMM, yyyy'}}
                </div>
            </div>
        </div>
    </div> -->
</ion-content>